<HTML>
<BODY bgcolor="cyan">
    <center>
	<!--
    <H1>Enter Discount Range</H1> <br>
    From <input type = "text" name= "fromdisc" /> <br><br>
    To   <input type = "text" name= "todisc" /> <br>
    <input type = "submit">
	-->
	<br>
	<br>
	<H1>Welcome To Fertile Mind e-Cart Shopping Portal !</H1> <br>
	<br>
	<br>
	
	<a href="Apparels.html">
		<img src="./templates/Clothes.jpg" alt="Apparels" width="200" height="180">
	<p>Apparels</p>
	</a>
<!--	<form method="POST" action="/footwears">
	<a href="Footwears.html">
		<img src="C:\Krishanu\Personal\IBM Docs\IBM Certification\GitHub\os-sample-python\templates\Footwear.jpg" alt="Footwear" width="200" height="180">	
	<p>Footwears</p>
	</a>
	</form>	
	<form method="POST" action="/luggages">
	<a href="Luggages.html">
		<img src="C:\Krishanu\Personal\IBM Docs\IBM Certification\GitHub\os-sample-python\templates\luggage.jpg" alt="Luggages" width="200" height="180">	
		<p>Luggages</p>
	</a>	
	</form>
	<form method="POST" action="/personal_care">
	<a href="personal_care.html">
		<img src="C:\Krishanu\Personal\IBM Docs\IBM Certification\GitHub\os-sample-python\templates\personal_care.jpg" alt="Personal Care Products" width="200" height="180">	
		<p>Personal Care Products</p>
	</a>	
	</form>
	<form method="POST" action="/sewing">
	<a href="sewing-accessories.html">
		<img src="C:\Krishanu\Personal\IBM Docs\IBM Certification\GitHub\os-sample-python\templates\sewing-accessories.jpg" alt="Sewing Accessoriess" width="200" height="180">	
		<p>Sewing Accessoriess</>
	</a>	
	</form>
-->
    </center>
</form>
</BODY>
</HTML>